body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    min-width: min-content;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/***********************************************
******************** HEADER ********************
***********************************************/

header nav {
    overflow: hidden;
    /* permet de ne pas déborder de la page */
    background-color: darkslateblue;
    width: 100%;
    opacity: 0.9;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header li {
    list-style-type: none;
    float: left;
    font-size: 1.2em;
}

header li:hover {
    background-color: antiquewhite;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 16px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-align: center;
}

#TraceBack {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold, italic;
    float: left;
    padding-top: 0;
}

/***********************************************
******************** TEXTE *********************
***********************************************/

#infos {
    margin-top: 20px;
}

#textInfos {
    line-height: 1.6;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#textInfos p {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#textInfos ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

#textInfos ul li {
    margin-bottom: 5px;
}

#textInfos ul li a {
    text-decoration: none;
}

#textInfos ul li a:hover {
    text-decoration: underline;
}


/***********************************************
******************** FOOTER ********************
***********************************************/

footer {
    background-color: bisque;
    padding-top: 50px;
}

#twitter-feed {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}